body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(249, 224, 248)
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(176, 22, 248);
    font-size: larger;
    font-weight: 500;
    padding: 10px;
}

#board {
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px; 
}

.buttons {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

rect.btn {
    stroke:#fff;
    fill:#fff;
    fill-opacity:0;
    stroke-opacity:0;
  }




